*{
    background-color: rgb(127, 127, 238);
}

h1{
    color: white;
    text-align: center;
    font-size: 50px;
}

ul, li, a{
    background-color: rgb(250, 131, 131);
}



ul li a{
    color: white;
    font-size: 26px;
}